<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI CALCULATOR</title>
    <link rel="style.css" href="/static/style.css">
</head>
<body>
    <div class="container">
   <h2>BMI Calculator</h2>

    <form action="/bmi" method="POST">
        <label>Weight (kg):</label><br>
        <input type="number" step="any" name="weight" required><br><br>

        <label>Height (meters):</label><br>
        <input type="number" step="any" name="height" required><br><br>

        <button type="submit">Calculate BMI</button>
    </form>

    {% if bmi %}
        <h3>Your BMI is: {{ bmi }}</h3>
    {% endif %} 
    </div>
</body>
</html>

